@import 'vars';
@import 'global';
@import 'fonts';

.header__top {
  @include f700;

}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 122px;
}

.menu__item {
  display: inline-block;

  &+.menu__item {
    padding-left: 50px;
  }
}

.header__box {
  display: flex;
}

.header__adress {
  margin-right: 60px;
  width: 365px;
  padding-left: 30px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background-image: url(../images/icons/adress-ico.svg);
    width: 30px;
    height: 30px;
    left: 0;
    top: -10px;
  }
}

.user-list {
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.user-list__item {
  padding-right: 10px;
}

.basket {
  position: relative;

  &__num {
    position: absolute;
    line-height: 20px;
    @include f500;
    color: #fff;
    font-size: 10px;
    width: 20px;
    height: 20px;
    background-color: $blue;
    border-radius: 50%;
    text-align: center;
    bottom: -12px;
    right: -15px;
  }
}

.header__bottom {
  margin-bottom: 80px;
}

.menu-categories {
  background-color: $bg;
  display: flex;
  justify-content: space-around;
  min-height: 53px;
  align-items: center;
}

.menu-categories__item {
  position: relative;
}

.menu-categories__link {
  transition: all .3s;
  padding: 15px 0 14px;
  position: relative;

  &:hover {
    color: #000;
  }

  &::before {
    position: absolute;
    content: '';
    width: 0;
    left: auto;
    background-color: $blue;
    height: 3px;
    bottom: -2px;
    transition: all .5s;
    right: 0;
  }
}

.menu-categories__link:hover::before {
  width: 100%;
  right: auto;
  left: 0;
}

.banner-section__inner {
  display: flex;
  justify-content: space-between;
}

.banner-section__slider {
  max-width: 870px;
}

.banner-section__slider-btn,
.product-slider__slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  z-index: 5;
  cursor: pointer;
}

.banner-section__slider-btnprev {
  left: 20px;
}

.banner-section__slider-btnnext {
  right: 20px;
}

.slick-dots {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;

  li {
    padding: 0 5px;
    display: inline-block;
  }

  button {
    padding: 0;
    margin: 0;
    font-size: 0;
    width: 11px;
    height: 11px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: transparent;
  }
}

.slick-active li button {
  background-color: #fff;
}

.sale-item {
  max-width: 265px;
  max-height: 400px;
  text-align: center;
  border: 1px solid $border;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sale-item__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sale-item__info {
  color: #fff;
  background-color: $blue;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.sale-item__price {
  text-align: right;
}

.price {
  font-family: 'Barlow', sans-serif;
  position: relative;
}

.sale-item__price-new {
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  color: $blue;
  margin-right: 6px;
  padding-right: 20px;

  &::after {
    content: '';
    background-image: url('../images/icons/icons-price.svg');
    width: 15px;
    height: 18px;
    right: 0;
    top: 8px;
    position: absolute;
  }
}

.sale-item__price-old {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4;
  margin-right: 15px;
  background-image: url('../images/icons/old-line.svg');
  padding: 1px 5px;
  background-repeat: no-repeat;
  display: inline-block;
}
  
.sale-item__price-old::after {
  content: '';
  background-image: url('../images/icons/icons-price-old.svg');
  position: absolute;
  right: -10px;
  top: 5px;
  width: 8px;
  height: 10px;
}

.sale-item__title {
  @include f700;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 7px;
}

.sale-item__footer {
  background-color: #F0F0F4;
  padding: 25px 20px;
  font-size: 18px;
  line-height: 21px;

  span {
    color: $blue;
    font-weight: 700;
    display: block;
    font-family: 'Barlow', sans-serif;
  }
}

.banner-section__slider-img {
  object-fit: cover;
  min-height: 400px;
}

.sale-item__img {
  object-fit: contain;
}
.search__tabs{
  margin-bottom: 25px;
}
.search__tabs-item{
  padding: 11px 26px 12px;
}
.search__tabs-item.tab--active{
  border-radius: 5px;
  background-color: $bg;
  @include f700;
}
.tabs-content{
  display: none;
}
.tabs-content.tabs-content--active{
  display: block;
}
.search__content-form{
  display: flex;
}
.search__content-input{
  border: none;
  border-radius: 3px;
  background-color: $bg;
  padding: 5px 20px;
  font-size: 16px;
  line-height: 19px;
  outline: none;
  width: 100%;
  &::placeholder{
    color: #656464;
  }
}

.search__content-btn{
  font-size: 14px;
  line-height: 17px;
  @include f700;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #fff;
  background-color: $blue;
  border-radius: 3px;
  padding: 17px 41px;
  border: none;
  margin-left: -3px;
  cursor: pointer;
}
.categories__inner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.categories__item-info{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.categories__item-img{
  width: 50%;
  text-align: center;
  img{
    max-width: 100%;
  }
}
.categories__item-title{
  font-size: 23px;
  line-height: 28px;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  transition: all .3s;
}
.categories__item{
  margin-bottom: 30px;
  border: 1px solid $border;
  border-radius: 3px;
  width: 370px;
  display: flex;
  padding: 20px 20px 16px;
  justify-content: space-between;
  transition: all .3s;
  &:hover{
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
  }
  &:hover .categories__item-title{
    color: $blue;
  }
}
.categories__item-text{
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4;
  &::after{
    content: url(../images/icons/link-arrow.svg);
    width: 6px;
    height: 9px;
    padding-left: 2px;
  }
}
.product-item__wrapper{
  position: relative;
  width: 270px;
}
.product-item{
  min-height: 400px;
  border: 1px solid $bg;
  border-radius: 3px;
  text-align: center;
  padding: 52px 20px 31px;
  transition: all .5s;
  &__title{
    padding: 14px 0 25px;
    @include f400;
  }
  &__favorites{
    position: absolute;
    top: 16px;
    right: 19px;
    width: 24px;
    height: 22px;
    background-color: transparent;
    border: none;
    outline: none;
    &::before{
      content: '';
      position: absolute;
      width: 24px;
      height: 22px;
      top: 0;
      left: 0;
      background-image: url('../images/icons/heart.svg');
    }
  }
  &__basket{
    position: absolute;
    width: 60px;
    height: 40px;
    background-color: $blue;
    border-radius: 10px 0 0 0;
    bottom: 0;
    right: 0;
    border: none;
    padding-top: 7px;
    cursor: pointer;
    z-index: 10;
  }
  &__price{
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
  }
}
.product-item__favorites--active::before{
  background-image: url('../images/icons/heart-active.svg');
}
.product-item__hover-text{
  padding: 18px 21px;
  background-color: rgba(255,255,255,.9);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  position: absolute;
  display: inline-block;
  top: 30%;
  opacity: 0;
  transition: all .5s;
}
.product-item:hover .product-item__hover-text{
  opacity: 1;
  color: $text;
}
.product-item:hover{
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
  color: $blue;
  &.product-item__notify-text{
    color: $text;
  }
}
.product-item--sale::before{
  content: 'sale';
  padding: 8px 15px;
  background-color: $blue;
  position: absolute;
  left: 0;
  top: 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.07em;
}
.product-item__wrapper.product-item__not-available .product-item__price{
  display: none;
}
.product-item__notify-text{
  display: none;
  @include f700;

}
.product-item__wrapper.product-item__not-available .product-item__notify-text{
  display: block;
}
.product-item__wrapper.product-item__not-available .product-item__basket{
  display: none;
}
.product-item__notify-link{
  display: none;
}
.product-item__wrapper.product-item__not-available .product-item__title{
  padding-bottom: 13px;
}
.product-item__wrapper.product-item__not-available .product-item__notify-link{
  display: block;
  position: absolute;
  font-size: 16px;
  line-height: 19px;
  bottom: 20px;
  left: 0;
  right: 0;
  color: $blue;
  text-align: center;
  span{
  border-bottom: 1px solid $blue;
  }
}
.product__title{
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 25px;
}
.products__tabs{
  margin-bottom: 25px;
}
.products__tab{
  font-size: 15px;
  line-height: 18px;
  padding-bottom: 10px;
  @include f500;
  & + .products__tab{
    margin-left: 50px;
  }
  &.tab--active{
    border-bottom: 2px solid $blue;
  }
}
.product-slider__slider-btnprev {
  left: -40px;
}

.product-slider__slider-btnnext {
  right: -40px;
}
.slick-slide img{
  display: inline;
}
.products{
  margin-bottom: 80px;
}
.product__more{
  text-align: center;
  margin: 35px 0px 0px;
}
.product__more-link{
  line-height: 18px;
  letter-spacing: 0.12em;
  font-size: 15px;
  text-transform: uppercase;
  padding: 16px 23px;
  background-color: $bg;
}
.banner{
  margin-bottom: 80px;
}
.footer{
  background-color: $bg;
}
.footer__bottom{
  padding: 46px 0 22px;
  display: flex;
  justify-content: center;
  &-link{
    font-size: 10px;
    line-height: 12px;
    color: #48494D;
    margin: 0 40px;
  }
}
.footer__top{
  padding-top: 43px;
  &-inner{
    display: flex;
    justify-content: space-between;
  }
  &-item{
    width: 200px;
  }
}
.footer__top-newslatter.footer__top-item{
  width: 295px;
  margin-right: 50px;
}
.footer__top-title{
  @include f700;
  font-size: 14px;
  line-height: 17px;
}
.footer-form{
  margin-top: 34px;
  display: flex;
  justify-content: space-between;
  &__input{
    border: none;
    background-color: #fff;
    font-size: 14px;
    line-height: 17px;
    padding: 0 12px;
    &::placeholder{
      color: #C4C4C4;
    }
  }
  &__btn{
    text-transform: uppercase;
    padding: 10px 16px;
    border: none;
    background-color: $blue;
    color: #fff;
    @include f600;
    font-size: 11px;
    letter-spacing: 0.12em;
  }
}
.footer-list{
  font-size: 14px;
  line-height: 22px;
}
.footer__top-social.footer__top-social{
  width: 250px;
}
.social-list{
  display: flex;
  align-items: center;
  height: 100%;
  &__item + .social-list__item{
    margin-left: 30px;
  }
}
.breadcrumbs{
  margin-bottom: 40px;
}
.breadcrumbs__list-item{
  display: inline-block;
  padding-right: 16px ;
  margin-right: 10px;
  position: relative;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
  &::after{
    content: '';
    position: absolute;
    right: 0;
    background-image: url(../images/icons/link-arrow.svg);
    width: 6px;
    height: 9px;
    bottom: 5px;
  }
}
.breadcrumbs__list-item:last-child::after{
  display: none;
}